<center><h1><span class="badge bg-secondary">All Menu Items</span></h1>
</center> <br>

<%= render 'search_form.html.erb' %> <br>

<%# debugger %>
<%#= form_with model: @menu, url: user_menu_cart1s_path(menu_id: menu.id),:local => false, method: :post do |f| %>
<%= form_with scope: :menu, url:  user_card1_menu_cart1s_path(current_user,current_user.card1.id,:menu_id),method: :post do |f| %>
  <% @menus.each do |menu| %>
   <div class="card text-bg-dark" style="width: 40rem;">

   <%#= image_tag "pavbhaji.jpeg", height: 300 %> <br>
  <div class="card-img-overlay">
  </div>
  <center>
      <%#= post.id %>
      <%#= image_tag "pavbhaji.jpg", height: 320, width: 1275 %>
      <%= image_tag menu.main_image, width: 550  if menu.main_image.attached? %>
      <h4>Name: <%= menu.food_name %></h4>
      <h4>Price: <%= menu.price %></h4>
  </div> </center>
  <div>

  <br>

  <%#= cart1.menu.quantity %>


     
     <% if current_user.has_role? :admin %>
        <%= link_to "Edit Food",    edit_user_menu_path(current_user.id, menu.id) %> <br>
        <%= button_to 'Delete item',  user_menu_path(current_user.id, menu.id), method: :delete %>
     <% end %>


    <br> <br>


      Please select: <%= f.check_box :days, { multiple: true }, menu.id, false %>
    </div>


    <%#= button_to 'Delete item',  user_menu_path(current_user.id,id: menu.id), method: :delete %> <br>



     <% if current_user.card1.present? %>


      

      <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-danger"><%= link_to "Place Order",    new_user_menu_order_path(menu_id: menu.id) %> <br> </button> <br>


      <button type="button" class="btn btn-danger"><%= link_to "Add to Cart",  user_card1_menu_cart1s_path(current_user,current_user.card1.id,menu_id: menu.id), method: :post %> </button>

      <button type="button" class="btn btn-danger"><%= link_to "My Cart",    user_menu_cart1s_path(current_user,menu_id: menu.id) %> </button>

    </div> <br> <br>


    <% else %>


     <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-danger"><%= link_to "Place Order",    new_user_menu_order_path(menu_id: menu.id) %> <br> </button> <br>

      <button type="button" class="btn btn-danger"><%= link_to "Add to Cart",    user_card1_menu_cart1s_path(current_user,current_user.card1.id,menu_id: menu.id,cart1_id: cart1.id), method: :post %> </button>

      <button type="button" class="btn btn-danger"><%= link_to "My Cart",    user_menu_cart1s_path(current_user,menu_id: menu.id) %> </button>


      <% end %>

      <% end %>
     <p>
       <button type="button" class="btn btn-danger"><%= f.submit %> </button>
     </p> 

     <% end %>

