
<%= form_with model: @user, url:  user_menus_path, method: :post do |f| %>

<p>
    <%= f.label :food_name %><br>
    <%= f.text_field :food_name %>
  </p>


  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </p>


  <p>
  <%= f.label :main_image %>
  <%= f.file_field :main_image %>
 </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>



