<center><h1><span class="badge bg-secondary">Your Cart</span></h1>
</center> <br>

<ul>
  <% $sum = 0 %>
  <% @cart1s.each do |cart1| %>
    <li>
      <%#= cart1.id %>
      Order Name: <%= cart1.menu.food_name %> <br>
      Order Price: <%= cart1.menu.price %> <br>
      Quantity: <%= cart1.quantity %> <br>

      
      <%#= button_to "Remove from cart",      user_card1_menu_cart1_path(current_user,current_user.card1.id,id: cart1.id), method: :delete %>




       <%#= link_to "Place Order with card",    user_menu_cart1s_path(current_user,menu_id: menu.id) %>


       <%# debugger %>

        <%#= link_to "Place Order",    user_menu_users_id_menus_id_cart1s_path(current_user,cart1.menu.id,cart1.id) %>

        This Order Amount: <%= cart1.total %> <br> <br>

        <button type="button" class="btn btn-danger"><%= button_to "Remove from cart",      user_card1_menu_cart1_path(current_user,current_user.card1.id,id: cart1.id), method: :delete %> </button> <br>



     <br>
      

      <% $sum = $sum + cart1.total.to_i %>

      <% end %> <br>


     <button type="button" class="btn btn-danger">Total payment: <%= $sum %> <br> </button> <br> <br>




     <%#debugger %>


     <span class="badge bg-black"><%= button_to "Place Order with card",       user_card1_menu_cart1_cardtotals_path(current_user,current_user.card1.id,cart1_id: @cart1s), method: :post %> </span>
     
     <%#= button_to "Place Order with card",    user_card1_menu_cart1_cardtotal_path(@cart1s ), method: :post %>





      <%#debugger %>

      <%#= link_to "Place Order",    new_cart1_totalpayment_path() %>
